[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Eclipse {{ eclipse_major_version }} {{ eclipse_minor_version }}
Icon=eclipse.png
Path={{ eclipse_install_path }}
Exec={{ eclipse_install_path }}/eclipse
StartupNotify=false
StartupWMClass=Eclipse
OnlyShowIn=Unity;
X-UnityGenerated=true
